body{
    background-color: rgb(173, 206, 173);
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: auto;
    color: rgb(46, 84, 64);
    text-align: center;
}

#board{
    height: 540px;
    width: 630px;
    background-color: rgb(51, 95, 81);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 25px;
    margin: auto;
    border: 15px solid rgb(30, 57, 53);
    border-radius: 5px;
    opacity: .5;
}

#start_container{
    height: 300px;
    width: 300px;
    background-color: rgb(221, 224, 220);
    z-index: 100;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: 30vh;
    left: 39vw;
    border-radius: 5px;
    background: #e8e2bd;
    box-shadow: 0 0 50px #4d535c;
}
h3{
    text-align: center;
    margin: auto;
}
#input_container{
    display: flex;
    width: inherit;
    justify-content: space-between;
}
#redPlayer{
    accent-color: rgb(197, 93, 93);
}
#blackPlayer{
    accent-color: rgb(34, 32, 32);
}
#button_container{
    display: flex;
    margin: auto;
}
#startBtn{
    background-color: white;
    border-radius: 16px;
    width: 100px;
    height: 50px;
}

.slot{
    height: 75px;
    width: 75px;
    margin: 3px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(173, 206, 173);
}