body{
    background-color: rgb(70, 71, 72);
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    margin: 0;
}
/* title */
h1{
    margin: auto;
    color: rgb(221, 224, 220);
    text-align: center;
}
/* player turn popup */
#top_container{
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    height: 5vh;
}
.turn{
    position: absolute;
    text-align: center;
    left: 36%;
}
#red_turn{
    left: 45%;
    visibility: hidden;
    color: rgb(197, 93, 93);
    font-size: larger;
}
#yellow_turn{
    left: 44%;
    visibility: hidden;
    color: rgb(220, 230, 104);
    font-size: larger;
}
/* board */
#board{
    height: 540px;
    width: 630px;
    background-color: rgb(37, 39, 39);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 8px;
    margin: auto;
    border: 15px solid rgb(3, 3, 3);
    border-radius: 5px;
    opacity: .5;
}
/* start_container */
#start_container{
    height: 300px;
    width: 300px;
    background-color: rgb(221, 224, 220);
    z-index: 100;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: 30vh;
    left: 39vw;
    border-radius: 5px;
    box-shadow: 0 0 50px #4d535c;
}
h3{
    text-align: center;
    margin: auto;
}
#input_container{
    display: flex;
    width: inherit;
    justify-content: space-between;
}
#redPlayer{
    accent-color: rgb(197, 93, 93);
}
#yellowPlayer{
    accent-color: rgb(220, 230, 104);
}
#button_container{
    display: flex;
    margin: auto;
}
#startBtn{
    background-color: white;
    border-radius: 50px;
    width: 100px;
    height: 50px;
}
/* restart container */
#restart_container{
    display: flex;
    justify-content: space-evenly;
    width: 630px;
    margin: auto;
    height: 50px;
}
#restartBtn{
    position: relative;
    margin: auto;
    top: 5px;
    height: 30px;
    border-radius: 30px;
    border: none;
}
#redNum{
    padding-left: 3px;
    color: rgb(197, 93, 93);
}
#yellowNum{
    padding-left: 3px;
    color: rgb(220, 230, 104);
}
/* slots */
.slot{
    height: 75px;
    width: 75px;
    margin: 3px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(70, 71, 72);
    border: 3px solid rgb(3, 3, 3);
}

/* player pieces */
.red-piece{
    background-color: rgb(197, 93, 93);
}
.yellow-piece{
    background-color: rgb(220, 230, 104);
}

.slot:hover{
    /* background-color: rgb(126, 123, 123); */
    opacity: .5;
}

.popup{
    font-size: xx-large;
    display: flex;
    z-index: 1000;
    position: relative;
    font-weight: 600;
    bottom: 500px;
    width: 15%;
    margin: auto;
    justify-content: center;
    background-color: rgb(70, 71, 72);
    padding: 5px;
}

#red-popup{
    color: rgb(197, 93, 93);
    border: 2px solid rgb(197, 93, 93);
}

#yellow-popup{
    color: rgb(220, 230, 104);
    border: 2px solid rgb(220, 230, 104);
}